.App {
  text-align: center;
  overflow: hidden;
}

body {
  background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}


.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.mbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:#1976d2;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

button.darkbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:gray;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

.darkTxt {
  color: black;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
}

.darkTxtSmall {
  font-size: small;
  color: black;
}

.darkerDiv {
  background-color: darkgray;
  text-align: center;
  color: white;
  padding: 2em;
  margin: 1em;
}

.container {
  display: flex;
}

.item {
  display: inline-block;
  padding: 1vh;
}

.slajder {
  margin-bottom: 50px;
}

.teamImgs {
  height: 250px;
  border: black 2px solid; 
}