.App {
  text-align: center;
  overflow: hidden;
  padding-bottom: 2em;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.mbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:#1976d2;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

button.darkbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:gray;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

.darkTxt {
  color: black;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
}

.darkTxtSmall {
  font-size: small;
  color: black;
}

.darkerDiv {
  background-color: darkgray;
  text-align: center;
  color: white;
  padding: 1em;
  
}

.lightDiv {
  background-color: white;
  text-align: center;
  color: white;
  padding: 1em;
  
}

.container {
  display: flex;
}

.item {
  display: inline-block;
  padding: 1vh;
}

.slajder {
  margin-bottom: 50px;
}

.teamImgs {
  height: 250px;
  border: black 2px solid; 
}

.welcome {
  padding-top: 50%;
}



