.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 69, 82);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.mbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:#1976d2;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

button.darkbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:gray;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

.darkTxt {
  color: black;
}

.darkerDiv {
  background-color: darkgray;
  text-align: center;
  color: white;
  padding: 2em;
  margin: 1em;
}

.container {
  display: flex;
}

.item {
  display: inline-block;
  padding: 1vh;
}

